/* Project utilities */

.truncate-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.event-intro-logo {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    height: auto;
}
